{% extends "base.html" %}

{% block content %}
			
			  <div>
			      <p>
                      <button type="button" class="btn btn-success btn-sm">添加</button>
			          <button type="button" class="btn btn-danger btn-sm" id="deleteid">删除</button>
			          <button type="button" class="btn btn-danger btn-sm">修改</button>
			      </p>
			  </div>
                <div >
                    <input type="text" style="height:30px;margin:5px;">
                    <select id="searchitem" style="width:70px;">
                       <option>部门</option>
                       <option>编号</option>
                       <option>类型</option>
                       <option>型号</option>
                       <option>品牌</option>
                       <option>使用人</option>
                       <option>位置</option>
                   </select>
                  
                  <input type="submit" value="搜索" />
                </div>
                <div id="top_exa">
                </div>
				<table id="userlist" class="table table-bordered table-hover table-condensed">
					<thead>
                        <tr>
                            <th><input type="checkbox" id="checkall">全选</th>
                            <th>部门</th>
                            <th>编号</th>
                            <th>类型</th>
                            <th>型号</th>
                            <th>品牌</th>
                            <th>使用人</th>
                            <th>位置</th>
                            <th>删除</th>
                            <th>修改</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            <td><input type="checkbox" name="admincheckbox" /></th>
                            <td name="department">{{item.department}}</td>
                            <td name="number">{{item.number}}</td>
                            <td name="mach_type">{{item.type}}</td>
                            <td name="model">{{item.model}}</td>
                            <td name="brand">{{item.brand}}</td>
                            <td name="user">{{item.user}}</td>
                            <td name="position">{{item.position}}</td>
                            <td class="delete"><button type="button" class="btn btn-danger btn-sm">删除</button></td>
                            <td class="change"><button type="button" class="btn btn-warning btn-sm">修改</button></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
					
				</table>
                <div id="bottom_exa">
                </div>
				<script type="text/javascript">
				$(function(){
                    //删除方法
                    $('.delete button').click(function(){
                       number =  $(this).parent().parent().find("[name='number']").text();
                       if(confirm("确定要删除数据吗")){
                            $(this).parent().parent().remove();
                            $.ajax({
                            url:"/delete/",
                            type:'POST',
                            data:{'assert_number':number},
                            success:function(){
                                console.log("删除成功")
                            }
                            })
                        }
                       else{
                       }
                    })

                   


                    //修改按钮方法
                       $('.change button').click(function(){
                        if($(this).text()=="修改"){
                             department =  $(this).parent().parent().find("[name='department']").text();
                             user =  $(this).parent().parent().find("[name='user']").text();
                             position =  $(this).parent().parent().find("[name='position']").text();
                             $(this).text("保存");
                             $(this).parent().parent().find("[name='department']").replaceWith("<td name=\"department\"><input type=\"text\" value="+department+"></td>");
                             $(this).parent().parent().find("[name='user']").replaceWith("<td name=\"user\"><input type=\"text\" value="+user+"></td>");
                             $(this).parent().parent().find("[name='position']").replaceWith("<td name=\"position\"><input type=\"text\" value="+position+"></td>");
                        }
                        else{
                            department =  $(this).parent().parent().find("[name='department']").children().val();
                            user =  $(this).parent().parent().find("[name='user']").children().val();
                            position =  $(this).parent().parent().find("[name='position']").children().val();
                            console.log(department);
                            if (department==""){
                                alert("部门不能为空");
                            }
                            else{
                                if (user==""){
                                    alert("使用人不能为空");
                                }
                                else{
                                    if (position==""){
                                    alert("位置不能为空");
                                    }
                                    else{
                                        $(this).text("修改");
                                        $(this).parent().parent().find("[name='department']").replaceWith("<td name=\"department\">"+department+"</td>");
                                        $(this).parent().parent().find("[name='user']").replaceWith("<td name=\"user\">"+user+"</td>");
                                        $(this).parent().parent().find("[name='position']").replaceWith("<td name=\"position\">"+position+"</td>");
                                }
                               
                            }
                             }
                           
                            
                        }
                        
                    })


                    //侧边栏添加样式
                    $('#management').addClass("in");
                    $('#assert_inside_management').addClass("active btn btn-default");

                    //分页功能
				    var options = {
                            alignment:"right",
                            currentPage: {{page}},
                            totalPages: {{pageCount}},
                            numberOfPages:10,
                            pageUrl: function(type, page, current){ 
                                return "http://localhost/assert_inside/"+page;
                                }  
                        }

                        $('#top_exa').bootstrapPaginator(options);
                        $('#bottom_exa').bootstrapPaginator(options);

                    })
				</script>
            
{% endblock %}
