{% extends "base.html" %}

{% block content %}
           <div class="input-group">
                   <select id="hosts">
                       <option>172.16.8.22</option>
                       <option>172.16.8.26</option>
                       <option>allhost</option>
                   </select>
                     <select id="ports">
                       <option>23000</option>
                       <option>23001</option>
                       <option>23022</option>
                       <option>23038</option>
                       <option>23004</option>
                       <option>23025</option>
                       <option>23044</option>
                       <option>23029</option>
                       <option>23029</option>
                       <option>23046</option>
                       <option>allport</option>
                   </select>
               <button id="search" value="搜索">测试</button>
               </div>
			<div>
				<table id="searchCheckList" class="table table-bordered table-hover table-condensed">
					<thead>
                        <tr>
                            <th>搜索数据库状态</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr  id="searchres">
                            
                        </tr>
                    </tbody>
					
				</table>
            </div>
        <script type="text/javascript">
            $(function(){
                $('#management').addClass("in");
                $('#search_check_list').addClass("active btn btn-default");
                $("#search").click(function(){
                    host = $("#hosts").val();
                    port = $("#ports").val();
                    console.log(host)
                    console.log(port)
                    var item=[]
                    $.ajax({
                        url: "/searchDBCheck2/",
                        type:"POST",
                        dataType: 'json',
                        data: { 
                            'host': host,
                            'port': port
                        },
                        success: function (data) {
                            //alert(data);
                            //console.log($("#searchres").html())
                            $("#searchres").empty();
                            if (host != "allhost" && port != "allport") {
                                $("#searchres").html(function () {
                                    if (data['num'] == null) {
                                        console.log($("#searchres").html())
                                        return $("#searchres").html() + '<td><strong style="color:red">' + "host:" + data['host'] + "</strong></td>" + '<td><strong style="color:red">' + "port:" + data['port'] + "</strong></td>" + '<td><strong style="color:red">' + "dbname:" + data['dbname'] + "</strong></td>" + '<td><strong style="color:red">' + "num:" + data['num'] + "</strong></td>";
                                    }
                                    else {
                                        return $("#searchres").html() + "<tr><td>" + "<td>" + "host:" + data['host'] + "</td>" + "<td>" + "port:" + data['port'] + "</td>" + "<td>" + "dbname:" + data['dbname'] + "</td>" + "<td>" + "num:" + data['num'] + "</td>" + "</td></tr>";
                                    }

                                });
                                console.log(data['host'] + data['port'] + data['num']);
                            }
                            else {
                                for (i in data) {
                                    $("#searchres").html(function () {
                                        if (data[i]['num'] == null) {
                                            return $("#searchres").html() + '<td><strong style="color:red">' + "host:" + data[i]['host'] + "</strong></td>" + '<td><strong style="color:red">' + "port:" + data[i]['port'] + "</strong></td>" + '<td><strong style="color:red">' + "dbname:" + data[i]['dbname'] + "</strong></td>" + '<td><strong style="color:red">' + "num:" + data[i]['num'] + "</strong></td>";
                                        }
                                        else {
                                            return $("#searchres").html() + "<tr><td>"+ "host:" + data[i]['host'] + "</td>" + "<td>" + "port:" + data[i]['port'] + "</td>" + "<td>" + "dbname:" + data[i]['dbname'] + "</td>" + "<td>" + "num:" + data[i]['num'] + "</td>" + "</tr>";
                                        }

                                    });
                                    console.log(data[i]['host'] + data[i]['port'] + data[i]['num']);
                                }
                            }
                        }
                    })
                })
                
            })
    	</script>
{% endblock %}
